
//COLORES

$color-principal: black;
$color-secundario:#191919;
$color-terciario:#6E85B2;
$color-cuaternario:white;
$card-color:#1d201f;
$color-form:#1B1B1E;

//FUENTES

$f-size: 3rem;
$f-size-secundaria: 1.9rem;
$f-size-textos: 1.5rem;
$f-size-chica: 1rem;

$redes: (
    twitter: #55acee,
    facebook: #3a5795,
    instagram: #C25E30,
)


 










